/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
	margin: 0 auto;
	max-width: 250px;
}

/* Main layout */
a[highlight] {
	font-weight: bold;
	text-decoration: underline;
}

.a {
	margin-left: 2em;
}

.header {
	padding: 0 var(- -lumo-space-m);
}

.header h1.logo {
	font-size: 1em;
	margin: var(- -lumo-space-m);
}

.titletext {
	color: blue;
	margin: 0 auto;
	max-width: 610px;
}

.disablednav {
	color: gray;
	cursor: not-allowed;
}

.enablednav {
	color: var(- -lumo-primary-text-color);
}

.workspace {
	
}

.card {
	background-color: #f1f3f8;
	flex-shrink: 0;
	box-shadow: 2px 1px 5px 0px grey;
	margin: 1%;
}

.heart {
	position: absolute;
	color: DodgerBlue;
	right: 10px;
	padding: 5px;
}

.addNewPetTitle {
	color: blue;
	margin: 0 auto;
	max-width: 610px;
	padding: 5px;
}

.reg {
	position: absolute;
	color: DodgerBlue;
	right: 50px;
	padding: 5px;
}

.logOut {
	position: absolute;
	color: DodgerBlue;
	right: 80px;
	padding: 5px;
}

.disabledReg {
	position: absolute;
	right: 50px;
	padding: 5px;
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	color: gray;
}

.disabledLogOut {
	position: absolute;
	right: 80px;
	padding: 5px;
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	color: gray;
}

.disabledHeart {
	pointer-events: none;
	cursor: default;
	position: absolute;
	color: gray;
	right: 10px;
	padding: 5px;
	cursor: not-allowed;
}

.heartlike {
	color: DodgerBlue;
	right: 10px;
	padding: 5px;
}

.image {
	padding: 5px, 5px, 5px, 5px;
}

.grid-div {
	padding: 10px;
}

.login-view {
	background-color: #93c1de;
}

.homeView {
	background-image: url(/icons/background.png);
	background-repeat: repeat;
	min-height: 100%;
}

.mainLayout {
	border-style: solid;
}

.detailField {
	margin: 3px;
}

.petAddingForm {
	background: aliceblue;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0
		rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
	padding-left: 80px;
	padding-right: 80px;
}

.petAddingLowerLayout {
	background: white;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0
		rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
	padding-left: 80px;
	padding-right: 80px;
	border-style: solid;
	border-color: gray;
	width: 70% !important;
}

.petAddingUpperLayout {
	background: white;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0
		rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
	padding-left: 80px;
	padding-right: 80px;
	border-style: solid;
	border-color: gray;
	width: 70% !important;
}

.cardText {
	margin-top: auto !important;
	font-family: cursive;
}

:host[part~="header-cell"] ::slotted(vaadin-grid-cell-content) {
	font-weight: bold !important;
	color: blue !important;
	font-size: 19px !important;
}